@page
@model Fish.MVC.Pages_Aquariums.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AquariumModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AquariumModel.ExternalId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AquariumModel.ExternalId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AquariumModel.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AquariumModel.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AquariumModel.Volume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AquariumModel.Volume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AquariumModel.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AquariumModel.Location)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.AquariumModel.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
